	      	{% extends "index.html" %}
                 {% block body %}


                 <div class="container" style="padding: 100px 0">
		
		
		<img src="/static/images/border.png" alt="Border" class="templatemo-border">
		
		<section id="albums" class="section2">
			<h2 class="text-uppercase text-center">Albums</h2>
			<div class="row margin-top-50 templatemo-albums-container">
				<div class="col-lg-6 col-md-6 col-sm-6 templatemo-album">
					<div class="templatemo-album-images">
						<img src="/static/images/1.jpg" alt="Album 1" class="img-circle templatemo-album-img">
						<img src="/static/images/album-img-bg.png" alt="Album background" class="templatemo-album-img-bg">
						<img src="/static/images/circle_gray.png" alt="Album frame" class="templatemo-album-img-frame">
					</div>					
					<div class="templatemo-album-description">
						<p class="templatemo-album-name">First Album</p>
						<p class="templatemo-album-artist">Artist One</p>
						<p class="templatemo-album-date">Pop/Rock</p>	
					</div>				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 templatemo-album">
					<div class="templatemo-album-images">
						<img src="/static/images/2.jpg" alt="Album 2" class="img-circle templatemo-album-img">
						<img src="/static/images/album-img-bg.png" alt="Album background" class="templatemo-album-img-bg">
						<img src="/static/images/circle_gray.png" alt="Album frame" class="templatemo-album-img-frame">
					</div>
					<div class="templatemo-album-description">
						<p class="templatemo-album-name">Album Two</p>
						<p class="templatemo-album-artist">Second Artist</p>
						<p class="templatemo-album-date">Hip Hop</p>	
					</div>				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 templatemo-album">
					<div class="templatemo-album-images">
						<img src="/static/images/3.jpg" alt="Album 3" class="img-circle templatemo-album-img">
						<img src="/static/images/album-img-bg.png" alt="Album background" class="templatemo-album-img-bg">
						<img src="/static/images/circle_gray.png" alt="Album frame" class="templatemo-album-img-frame">
					</div>
					<div class="templatemo-album-description">
						<p class="templatemo-album-name">Third Album</p>
						<p class="templatemo-album-artist">Artist Three</p>
						<p class="templatemo-album-date">Electronic</p>	
					</div>				
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 templatemo-album">
					<div class="templatemo-album-images">
						<img src="/static/images/4.jpg" alt="Album 4" class="img-circle templatemo-album-img">
						<img src="/static/images/album-img-bg.png" alt="Album background" class="templatemo-album-img-bg">
						<img src="/static/images/circle_gray.png" alt="Album frame" class="templatemo-album-img-frame">
					</div>
					<div class="templatemo-album-description">
						<p class="templatemo-album-name">Album Four</p>
						<p class="templatemo-album-artist">Fourth Artist</p>
						<p class="templatemo-album-date">Techno</p>	
					</div>				
				</div>	
			</div>				
		</section>
        
		
	<img src="/static/images/border.png" alt="Border" class="templatemo-border">		
	{% endblock %}
	