          {% extends "index.html" %}
         {% block body %} 
         <img src="/static/images/border.png" class="templatemo-border" style="padding: 80px 0 0 0">   
	<div>
		<div class="container" style="padding: 50px 100px">
			
				<h1>Register Now</h1>
				<h4 style="padding: 10px 0 0 0">Welcome, please enter the following details to continue.</h4>
				<h4>If you have previously registered with us, <a href="#">click here</a></h4>
				 <form style="padding: 10px 0 0 0">
					<ul>
						<li class="text-info">First Name: </li>
						<li><input type="text" value=""></li>
					</ul>
					<ul>
						<li class="text-info">Last Name: </li>
						<li><input type="text" value=""></li>
					 </ul>				 
					<ul>
						<li class="text-info">Email: </li>
						<li><input type="text" value=""></li>
					</ul>
					<ul>
						<li class="text-info">Password: </li>
						<li><input type="password" value=""></li>
					</ul>
					<ul>
						<li class="text-info">Re-enter Password:</li>
						<li><input type="password" value=""></li>
					</ul>
					<ul>
						<li class="text-info">Mobile Number:</li>
						<li><input type="text" value=""></li>
					</ul>						
					<input type="submit" value="Register Now" class="btn-success" style="margin: 15px 0 10px 0">
					 
				</form>
			</div>
		</div>
	</div>
        
     {% endblock %}